body{
    margin: 0px;
    height: 100%;
    padding: 0px;
    background-image: url(image/1.png);
    background-repeat: no-repeat;
    background-position: center;
    background-attachment: fixed;
    background-size: cover;
}
h1{
    text-align: center;

}


h1{
    align-items: center;
    background-color: hsla(84, 87%, 51%, 0.353);
}

#navbar ul{
    margin-top: 90px;
    border: 2px solid rgba(139, 27, 27, 0.353);
    box-shadow: 2px 3px 2px  rgba(139, 27, 27, 0.353);
    list-style-type: none;
    background-color: rgba(243, 24, 232, 0.277);
    padding: 0;
    overflow: hidden;
}



#navbar a{
   
    text-decoration: none;
    padding:15px ;
    display: block;
    
    
}

#navbar a:hover{
    background-color: rgba(15, 242, 49, 0.245) ;
   

}

#navbar li{
    float: left;
    background-color: rgba(243, 24, 232, 0.041);
    text-shadow: 2px 2px 5px rgb(184, 235, 18);
    text-align: center;
}
#h2{
    text-align:center;
    
}
#section1{
    margin: 20px;
    padding: 10px;
    background-color: rgba(113, 244, 6, 0.105);
    border-bottom : 3px solid rgb(31, 238, 20);
    box-shadow:4px 4px 4px rgba(61, 233, 4, 0.588);
}

#Img{
    width: 300;
    height: 270;
    border-radius: 7px;
    display: block;
    margin-left:auto;
    margin-right: auto;
    box-shadow: 1px 1px 5px hsl(74, 85%, 38%);
    
    
}

#footer{
    margin-top: 50px;
    height: fit-content;
    background-color: rgba(242, 12, 230, 0.277);
    margin-left: 550px;
    justify-content: center;
    justify-items: center;
    
}

#footer a{
    
    text-decoration: none;
    color: rgba(0, 153, 255, 0.897);
    
}
#div  {
    background-color: rgba(242, 12, 230, 0.277);
}
    
